.product-img{
    width: 90% !important;
    justify-self: center;
    margin-top: 10px;
}
.cursor {
    cursor: pointer;
}
.product-img:hover {
    animation: increaseSize 0.3s forwards;
  }
@keyframes increaseSize {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.1);
    }
}
.pagination li{
    cursor: pointer;
    margin: 0 5px;
}
.pagination li:active{
    color: white;
}
.pagination li.active{
    color: blue;
}
.add-to-cart-btn{
    width: 100%;
}
.sort-div{
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.light-span{
    margin: 0 !important;
    margin-left: 10px !important;
    font-size: 16px;
    color: gray;
}